:root {
  // colors
  --dark-blue: #545871;
  --gray: #9597A6;
  --blue: #DADBE6;
  --pale-blue: #F0F1F7;
  --red: #B8817D;
  --pink: #EBD0CE;
  --dark-pink: #E6DBDA;
  --ligt-pink: #F7ECEB;
  --white: #FFFFFF;

//   font sizes
  --size-10: 0.625rem;
  --size-12: 0.75rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-27: 1.688rem;
  --size-36: 2.25rem;
  --size-48: 3rem;
  --size-54: 3.375rem;
}