@import url(http://fonts.googleapis.com/css?family=Henriette+Bold:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Basic+Sans+Light:400italic,700italic,400,700);
@import url(//db.onlinewebfonts.com/c/ce49b93f4549130d36f0a3453a6332ff?family=BasicSans-Bold);


body {
  font-size: var(--size-24);
  font-weight: lighter;
  font-family: 'Basic Sans Light', sans-serif;
  height: 100vh;

  & > div {
    &, & > div {
      height: 100%;
    }
  }
}

h1, h2, h3, h4 {
  font-family: 'Henriette', sans-serif;
  font-weight: bold;
  color: var(--dark-blue);
}

.h1 {
  font-size: var(--size-54);
}

h2 {
  font-size: var(--size-48);
}

h3 {
  font-size: var(--size-36);
}

h4 {
  font-size: var(--size-24);
}

span {
  font-family: 'Basic Sans Regular', sans-serif;
  font-size: var(--size-20);
}

.label {
  font-size: var(--size-12);
  font-family: 'BasicSans Bold', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}